<!-- {{ with .Site.Params.social }}
<ul>
  {{ range sort . "weight" }}
    {{ if .icon }}
      <li>
        <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }} {{ if .type }}type="{{ .type }}"{{ end }}>
          <i class="{{ .icon }}" aria-hidden="true"></i>
        </a>
      </li>
    {{ else }}
      <li>
        <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }}>{{ .name }}</a>
      </li>
    {{ end }}
  {{ end }}
</ul>
{{ end }} -->


<!-- \\ -->


<!-- <ul class="social-icons">
  {{ range .Site.Params.social }}
    <li>
      {{ if eq .name "Gmail" }}
        <a href="{{ .url }}" target="_blank">
          <img src="/images/new icon/gmail icon.svg" alt="Gmail" class="social-icon" />
        </a>
      {{ else }}
        <a href="{{ .url }}" target="_blank">
          <i class="{{ .icon }}"></i>
        </a>
      {{ end }}
    </li>
  {{ end }}
</ul> -->


<!-- // -->

<ul class="social-icons">
  {{ range .Site.Params.social }}
    <li>
      {{ if eq .name "Gmail" }}
        <!-- Custom Gmail Icon -->
        <a href="{{ .url }}" target="_blank">
          <img src="/images/new icon/gmail icon.svg" alt="Gmail" class="social-icon" />
        </a>
      {{ else }}
        <a href="{{ .url }}" target="_blank">
          <i class="{{ .icon }}"></i>
        </a>
      {{ end }}
    </li>
  {{ end }}
</ul>

